@import "@utils/breakpoints";

.allProducts {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .allProducts__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap);

        h1 {
            font-weight: 600;
        }

        a {
            align-self: flex-start;
        }
    }

    .allProducts__listWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
    }

    @include for_breakpoint(tablet desktop) {
        .allProducts__header {
            flex-direction: row;
        }
    }
}
