{
  "tabWidth": 4,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 450
      }
    },
    {
      "files": ["*.yml", "*.json"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    }
  ]
}
