@import "@utils/breakpoints";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap);
    height: 5rem;

    @import "searchForm";

    .header__loginBtn {
        background-color: transparent;
        border: 1px solid var(--blue);
        color: var(--blue);
        font-weight: 600;
        text-align: center;
        padding: 12px 2rem;
        transition: background-color 120ms ease-in-out;

        &:hover {
            background-color: var(--blue-20);
        }
    }

    .header__searchBtn {
        background-color: transparent;
        border-radius: 5px;
        padding: 5px;
        transition: background-color 120ms ease-in-out;

        &:hover {
            background-color: var(--blue-10);
        }
    }

    .icon__cross {
        display: none;
    }

    &.header-searching {
        a {
            display: none;
        }

        .searchForm {
            display: flex;
        }

        .header__searchBtn {
            .icon__search {
                display: none;
            }

            .icon__cross {
                display: block;
            }
        }
    }

    @include for_breakpoint(mobile) {
        .header__logo {
            width: 9rem;
        }
    }

    @include for_breakpoint(tablet desktop) {
        .header__searchBtn {
            display: none;
        }

        .searchForm {
            display: flex;
        }
    }

    @include for_breakpoint(desktop) {
        .searchForm {
            flex: 0 1;

            input {
                width: 25rem;
            }
        }
    }
}
