.promotion {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;

    .promotion__image {
        &::before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
        }

        img {
            vertical-align: middle;
        }
    }

    .promotion__info {
        padding: 20px 16px;
        position: absolute;
        width: 100%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: calc(var(--gap) - 0.2rem);
        text-align: left;

        .promotion__title h1 {
            color: var(--white);
            font-weight: 600;
        }

        .promotion__description h2 {
            color: var(--white);
            font-weight: 400;
        }

        .promotion__button {
            align-self: flex-start;
            background-color: var(--blue);
            color: var(--white);
            font-size: var(--fs-3);
            text-align: left;
            padding: 12px 16px;
            transition: background-color 125ms ease-in-out;

            &:hover, &:active {
                background-color: var(--blue-120);
            }
        }
    }
}