@import "@utils/breakpoints";

.products {
    .products__category {
        display: flex;
        flex-flow: row nowrap;
        flex-direction: column;
        gap: calc(var(--gap) + 0.5rem);
        margin-top: 1rem;

        .products__header {
            align-items: center;
            display: flex;
            justify-content: space-between;

            h1 {
                font-weight: 700;
                font-size: 1.9rem;
            }

            a {
                display: flex;
                align-items: center;
                color: var(--blue-80);
                font-weight: 700;
            }
        }
    }
}
