@import "@utils/breakpoints";

.contact {
    background-color: var(--blue-10);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: var(--gap);

    .contact__links {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        gap: var(--gap);
        flex-grow: 1;

        .contact__nav {
            flex-grow: 1;

            ul li {
                margin-bottom: 1.5rem;

                a {
                    font-weight: 500;
                    transition: 0.2s color ease-in;

                    &:hover {
                        color: var(--black-50);
                    }
                }
            }
        }
    }

    @import "contactForm";

    @include for_breakpoint(tablet desktop) {
        flex-flow: row wrap;
    }

    @include for_breakpoint(desktop) {
        .contact__links {
            flex-flow: row nowrap;
            align-items: flex-start;
        }
    }
}
