.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap);

    a i.header__logo {
        width: 10rem;
    }

    .header__login_btn {
        background-color: transparent;
        border: 1px solid var(--blue);
        color: var(--blue);
        font-weight: 600;
        flex: 1;
        padding: 12px 16px;
        transition: background-color 120ms ease-in-out;

        &:hover {
            background-color: var(--blue-20);
        }
    }

    .header__search_btn {
        background-color: transparent;
        border-radius: 5px;
        font-size: var(--fs-2);
        padding: 5px;
        transition: background-color 120ms ease-in-out;

        &:hover {
            background-color: var(--blue-10);
        }
        
        i.icon-search {
            width: 1.8rem;
        }
    }
}