:root {
    --light-primary: #fff;
    --light-primary-darker: #E5E5E5;
    --light-secondary: #2A7AE4;
    --light-secondary-darker: #2261b3;

    --light-primary-text: #fff;
    --light-primary-text-darker: #464646;

    --def-gap: 1rem;
    --fs-1: calc(13px + 0.57rem);
    --fs-2: calc(13px + 0.37rem);
    --fs-3: calc(12px + 0.37rem);
    --fs-4: calc(11px + 0.36rem);
}