@use "reset";
@use "vars";

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--light-primary-darker);
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

body, header, main, footer, button, html, div, a, i, mark, strong, section, ul, li {
    box-sizing: border-box;
    color: var(--light-primary-text-darker);
    text-decoration: none;
}

svg, img {
    display: block;
    width: 100%;
    height: 100%;
}