@use "reset";
@use "vars";
@import "@utils/breakpoints";

body {
    scroll-behavior: smooth;
    background: var(--white);
}

button,
a {
    cursor: pointer;
}

body,
header,
main,
footer,
button,
html,
div,
a,
i,
mark,
strong,
section,
ul,
li {
    box-sizing: border-box;
}

body,
input,
textarea,
select,
button,
a {
    font-family: var(--raleway);
    color: var(--black);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.375rem;
}

p,
textarea,
legend,
input,
span[role="alert"],
button {
    font-size: 1.17rem;
}

h3,
a,
label {
    font-size: 0.975rem;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    outline: none;
    background: transparent;
    border: none;
    width: 100%;

    &:-internal-autofill-previewed,
    &:-internal-autofill-selected,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px var(--white) inset;
        -webkit-text-fill-color: var(--black);
    }
}

svg,
img {
    display: block;
    width: 100%;
    height: 100%;
}

span[role="alert"] {
    color: var(--red);
    font-weight: 600;
    margin: 5px 0;
}
